label, input, select, textarea, legend{
  display: block;
  margin: auto;
  text-align: center;
}

input[type="radio"], input[type="checkbox"]{
  display: inline-block;
  width :1rem;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: #E7C8DD;
  color : #5B2333;
}

h1,p{
  text-align: center;
}

form{
  margin:0 auto;
  background-color: #E2E4F6;
  width: 60vw;
  padding-bottom: 3rem;
  border-radius: 20px;
  box-shadow: 0 4px 12px #5B2333;
  transition : 0.3s;
}
form:hover{
  transform: scale(1.01);
  opacity: 90%;
}

fieldset{
  border:none;
}

input[type="text"], input[type="email"], input[type="number"], select, #nah, #ruby, #bio{
  margin-bottom: 2rem;
}
input[type="text"], input[type="email"], input[type="number"], select{
  height:2rem;
}
input, select, textarea{
  width: 80%;
  border: 1px solid #5C6D70;
  border-radius: 5px;
  background-color:#FDE74C;
}

#submit{
  height: 3rem;
  width: 40%;
  font-size: 30px;
  background-color:#E7C8DD;
  cursor:pointer;
  transition: 0.3s;
}
#submit:hover{
  opacity : 90%;
  transform: scale(1.05);
  color: #FFA2C3;
}

